/* * {
     background-color: orange;
     box-sizing: border-box;
}
.box{
    padding: 40px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
  width: 100vw;
  height: 100vh;
  background-color: orange;
  padding: 40px;
}